@charset "UTF-8";

body {
    font-size: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: left;
    margin-left:3%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #400080;
}

a{
	text-decoration: none;
}

li a:hover {
    background-color: #b59aed;
    color:white;
    text-decoration: none;
}

img{
	margin:10px;
}

p{
	color:white;
}